:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Base */

body{
    font-family: 'Arial', Times, Serif;
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.50)100%), url(/interface_netflix_diasflix/imagens/capa-serie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

header .container{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    -webkit-box-align: center;
    justify-content: space-between;
    background-color: rgba(20, 20, 20, .80);
    height: 80px;
    font-weight: 700;
    margin-left: 0;
}

header .logo{
    display: flex;
    margin: 20px 40px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 1.8em;
}
header nav{
    position: relative;
    display: flex;
    margin-right: 710px;
}

header nav a{
    display: flex;
    -webkit-box-align: center;
    text-decoration: none;
    color: #e5e5ee;
    transition: color .4s;
    margin-inline: 10px;
    height: 100%;
   
}
header nav a:hover{
    color: #b3b3b3;
}

/* Filme principal */

.filme-principal{
    font-size: 16px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .icon{
    margin-top: 180px;
    display: flex;
    flex-direction: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: var(--vermelho);
}

.filme-principal .sub-icon{
    position: absolute;
    display: flex;
    margin: -45px 50px;
    letter-spacing: 10px;
    font-size: 20px;
    color: #fff;
}

 .filme-principal .titulo{
    font-family: "Pinyon script", cursive;
    display: flex;
    font-size: 80px;
    font-weight: 400;
    margin: auto 30px;
}

.filme-principal .titulo2{
    font-family: "Pinyon script", cursive;
    font-size: 130px;
    font-weight: 400;
    margin: -40px 30px;
}

.filme-principal .top{
    margin-top: 30px;
    height: 50px;
    width: 50px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bolder;
    color: #fff;
    background-color: var(--vermelho);
    border-radius: 5px;
}

 .filme-principal .top-br{
    margin: -40px 60px;
    font-size: 22px;
    font-weight: 700;
}

.filme-principal .descricao{
    position: relative;
    display: flex;
    margin-top: 80px;
    margin-bottom: 300px;
    font-size: 22px;
    color: #fff;
}

.botoes{
    position: absolute;
    display: flex;
    margin-top: -280px;
}

.botao1 , .botao2{
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}
.botao1{
    background-color: #fff;
    font-weight: 900;
}

.botao1 a{
    text-decoration: none;
    color: var(--preto);
}

.botao2 {
    background-color: rgba(146, 143, 143, 0.5);
}

.botao2 a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.botao1:hover{
    background-color: #b8b3b3;
    color: #000000;
}

.botao2:hover{
    background-color: rgba(146, 143, 143, 0.1);
}

.botao2 i{
   color: #ffffff;
}

i{
    margin-inline: 5px;
}

.container{
    margin-left: 40px;
}

.filme-principal .container{
    width: 80%;
}

.filme-sub{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.carrosel-filmes{
    margin: 0 0 0 40px;
}